@use "./base.scss";
  
// put your custom CSS here!
 
html {
  font-family: Vazirmatn, sans-serif !important;
}
 
.breadcrumb-element p {
  margin: 0 .5rem 0 0;
  padding: 0;
  line-height: normal;
}
 
button#explorer .fold {
  opacity: .8;
  margin-left: 0 !important;
  margin-right: 0.5rem !important;
  transition: transform .3s;
}

.tags {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
 
.folder-icon {
  margin-right: 0px !important;
  margin-left: 5px !important;
}
 
#explorer-content ul {
  padding-right: .7rem !important;
  padding-left: 0px !important;
}
 
.toc {
  border-radius: 5px;
  border: 1px solid var(--lightgray);
  padding: 12px; 
  font-size: 0.9rem;
  }
    
.depth-1 {
  border-right: solid 1px var(--lightgray);
  padding-right: 1rem;
  }

@media (max-width: 1510px) {
  .mobile-only.toc {
  display: block;
    }
  }
 
li:has(> .folder-outer:not(.open)) > .folder-container > svg {
  transform: rotate(90deg) !important;
}
 
div.search.mobile-only {
    padding-right: 10px !important;
}
 
code { 
	direction: ltr !important;
}

h2#footnote-label{
  visibility: hidden;
  text-align: right;
  direction: rtl;
}
 
h2#footnote-label::after{
  content: "پانوشت‌ها";
  visibility: visible;
  display: block;
  text-align: right;
  direction: rtl;
}

blockquote {
	border-right: 3px solid var(--secondary);
  border-left: none;
	margin: 1rem 0;
	padding-right: 1rem;
  padding-left: none;
	transition: border-color .2s;
}

.content-meta span:last-child {
  display: none !important;
  }

.content-meta > *:not(:last-child)::after {
  content: "" !important;
}

footer {
  border-top: 1px solid var(--lightgray);
  opacity: 0.9;
  text-align: center;
}